[data-ember-action]
  cursor: pointer

.main-container
  margin-top: 60px

.ember-notify-cn
  top: 0px
  bottom: auto

.avatar
  height: 40px

  // use long selector to override bootstrap
.table > tbody > tr, .table > thead > tr, .table > tfoot > tr

  .user-col a
    vertical-align: top

  .ko-col
    font-size: 1.25em
    text-align: center
    width: 10%
    font-weight: 500
    user-select: none
    cursor: default

    &.bg-semi-warning, &.text-semi-warning, &.bg-semi-success, &.text-semi-success
      transition: all 300ms ease-in-out

    &.bg-semi-warning
      background-color: #ffd699

    &.text-semi-warning
      color: #8a6d3b

    &.bg-semi-success
      background-color: #f0ff99

    &.text-semi-success
      color: #3c763d

  .rater-col
    text-align: right

  .ko-col, .rater-col
    vertical-align: middle

  th, th.user-col, th.ko-col, th.rater-col
    text-align: center

.ratings

  $row-height: 50px

  .table > tbody > tr, .table > thead > tr, .table > tfoot > tr
    td
      height: $row-height
      vertical-align: middle
      text-align: center

      &.milestone-col
        width: 15%
        font-weight: bold
        border-right: 1px solid #dcdedf

  .fa
    line-height: 20px
    float: right

.team-select

  position: relative

  @media (min-width: 768px)
    padding-left: 30px
    padding-right: 30px

  .input-group, .dropdown-menu
    width: 100%

  .dropdown-menu
    display: block
    width: auto
    position: absolute
    left: 15px
    right: 15px

    @media (min-width: 768px)
      left: 30px
      right: 30px

  .results

    li
      padding-left: 5px
      padding-right: 5px

.bg-danger, .bg-success, .bg-warning, .text-danger, .text-success, .text-warning, .danger, .success, .warning
  transition: all 300ms ease-in-out

.page-header
  margin-top: 20px

.login-header
  position: relative

  margin: 0 0 100px
  padding: 100px 0

  background: #f9f9f9

  &:after
    content: ""

    position: absolute
    left:49%
    bottom: -13px

    border-style: solid
    border-width: 13px 12.5px 0 12.5px
    border-color: #eee transparent transparent transparent

.login-form
  $width: 300px

  form
    text-align: left
    width: $width
    margin: 0 auto

  button, .input-group
    width: 100%

  .input-group .form-control:last-of-type
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px

  .input-group-addon
    width: 40px

  button
    text-align: left
    font-weight: bold

    .fa
      float: right
      transform: translateY(4px)

  .alert
    width: $width + 50px
    margin: -40px auto 60px

  .tooltip
    transform: translateY(30px)
    transition: opacity 300ms ease-in-out
    z-index: 0

    &.tooltip-visible
      opacity: 1
      z-index: 100

    .tooltip-inner
      position: relative
      padding-top: 6px
      padding-right: 16px

      .fa
        position: absolute
        top: 2px
        right: 4px
        cursor: pointer

.container
  .login-header, .login-form
    display: none

.bar-chart, .line-chart
  width: 100%
  height: 350px

.statistics

  > tbody > tr, .table > thead > tr, .table > tfoot > tr

    td, th
      width: 11%
      text-align: center
      vertical-align: middle

    th:first-child, td:first-child
      width: 12%

    .milestone-col
      font-weight: bold
      font-size: 2em
      width: 30px

.navbar-nav

  a.active
    color: #555
    background-color: #e7e7e7
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%)
    background-repeat: repeat-x;
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);

.navbar-toggle
  border: 0
  border-radius: 0
  margin: 0
  padding: 16px 20px

.teams

  .panel
    float: left
    margin: 10px 0
    width: 100%

    @media (min-width: 768px)
      width: 330px
      margin-left: 15px
      margin-right: 15px

    @media (min-width: 992px)
      width: 283px

    @media (min-width: 1200px)
      width: 350px

    .panel-body
      padding: 0

    .table
      margin: 0

      thead
        background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%)
        background-repeat: repeat-x
        color: #333
        background-color: #f5f5f5
        border-color: #ddd
        padding: 10px 15px
        border-bottom: 1px solid transparent
        border-top-left-radius: 3px
        border-top-right-radius: 3px

      th, td
        width: 15%
        text-align: center
        vertical-align: center

      th:first-child, td:first-child
        width: 40%
        text-align: left
        font-weight: bold

      td
        padding: 0

        a
          padding: 8px
          display: block

@import buttons

.help-block.with-errors
  opacity: 0
  transition: opacity 150ms ease-out

  &.visible
    opacity: 1

.text-failed
  color: white

.bg-failed
  background-color: black
