{{ember-notify messageStyle="bootstrap"}}

{{#if session.isAuthenticated}}
  {{top-nav}}
{{/if}}

<div {{bind-attr class="session.isAuthenticated:container:containerFluid :main-container"}}>
  {{outlet}}
</div>
