{{ember-notify messageStyle="bootstrap"}}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      {{link-to "ProPra Rater" "teams" classNames="navbar-brand"}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
