<label>{{view "select" prompt="Meilenstein" content=milestones value=milestone}}</label>
<button {{action "ko" 1}}>K.O.</button>
<button {{action "ko" 0.5}}>1/2 K.O.</button>
<button {{action "ko" 0}}>0</button>
